  .item {
    flex-grow: 1;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .textBox{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .bg-image {
    margin-top: 100px;
    width: 100%;
    min-height: 412px;
    height: 20vh;
    background-size: cover;
    background-position: center;
  }

  .bigBox{
    margin-top: 60px;
    background-color:#6B728E
  }

  .boxContainer {
    align-items:center;
    border-radius:0px
  }



  .bigBox :hover{
    background-color: tomato;
    color: #fff;
  }

  .imageText{
    font-family:monospace;
    margin-left:40px;
    position:absolute;
    color:#fff;
    margin-top:150px;
    background-color:#6B728E
  }
